*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  html,
  body {
    position: relative;
    height: 100%;
  }

 body {
    background: white;
    font-family:Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #696168;
    color: white;
    height: 50px;
}

header img{
    height: 50px;
    width:50px
}

label.logo{
    position: absolute;
    color:#FFFFFF;
    font-size: 40px;
    line-height: 10px;
    padding: 0;
    font-weight: bold;
    margin-top: 20px;
    margin-left:20px ;
    top: -2px;
    left: 40px;
  }


.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li{
    list-style: none;

}

.navbar li a{
     color: #FFFFFF;
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-weight: bold;
    
}
.navbar li a:hover{
     color:#dd4bf5;
    transition: .5s;
}

.bar3{
    position: absolute;
    top: .20rem;
    right:1rem;
    color: white;
    display: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

}

.bar3:hover{
    color:#dd4bf5;
    transition: .5s;
}

.bg{
    background: linear-gradient(rgba(0,0,0,0.2),#e419e4ec),url(about.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 55vh;
    text-align: center;
    padding-top: 100px;
    color: white;
    font-size: 30px;
}


.content p{
    padding-top: 20px;
	color: black;
	font-size: 25px;
	padding-left: 30px;
	margin: 5px;
	padding-right: 30px;
}

#footer .box-container{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  gap:1.9rem;
  background: #eee;
  top: 30px;
}


#footer .box-container .box {
    padding: 2rem 6rem;
    font-size: 25px;
    color: #000;
}

#footer .box-container .box a {
    padding: 0.5rem 0;
    display: block;
    font-size: 20px;
    color: rgb(105, 103, 103);
    text-decoration: none;

}
#footer .box-container .box a:hover{
    color: #dd4bf5;
    text-decoration:underline;
}





.credit{
    text-align: center;
    color: #000;
    border-top: .1rem solid rgba(0,0,0,0.1); 
    font-size: 20px;
    font-style: italic;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top:1.5rem;
}


@media (max-width: 835px)
{
    header{
        align-items: flex-start;
        flex-direction: column ;
    }

    .navbar{
        display: none;

    }

    .bar3{
        display: inline-block;

    }

    .navbar ul{
        position: absolute;
        flex-direction: column;
        height: 24em;
        background: rgba(105, 97, 104, 0.9);
        width: 100%;
        top: 40px;

    }

    .navbar li{
        text-align: center;

    }

    
    .navbar li a{
        padding: 0.45em 5rem;
        font-size: 22px;
        font-weight: normal;

    }

    .navbar.active{
        display: flex;
        z-index: 500;

    }

    .content h2{
        font-size: 25px;
    }
    .content p{
        font-size: 20px;

    }
}

@media (max-width: 786px)
{

    .navbar ul{
        height: 24em;
    }

}
   

@media (max-width: 486px)
{   
    
    .navbar ul{
        height: 24em;
    }

    .navbar li a{
        padding: 0.6em 5rem;
        font-size: 20px;
        font-weight: 550;
    }

}

@media (max-width: 399px)
{
    .navbar li a{
        padding: 0.6em 5rem;
        font-size: 18px;
        font-weight: 550;
    } 
}