*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  html,
  body {
    position: relative;
    height: 100%;
  }

 body {
    background: white;
    font-family:Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #696168;
    color: white;
    height: 50px;
}

header img{
    height: 50px;
    width:50px
}

label.logo{
        position: absolute;
    color:#FFFFFF;
    font-size: 40px;
    line-height: 10px;
    padding: 0;
    font-weight: bold;
    margin-top: 20px;
    margin-left:20px ;
    top: -2px;
    left: 40px;
  }


.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li{
    list-style: none;

}

.navbar li a{
     color: #FFFFFF;
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-weight: bold;
    
}
.navbar li a:hover{
     color:#dd4bf5;
    transition: .5s;
}

.bar3{
    position: absolute;
    top: .20rem;
    right:1rem;
    color: white;
    display: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

}

.bar3:hover{
    color:#dd4bf5;
    transition: .5s;
}

.top{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(105, 97, 104, 0.7)),url(leader2.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    text-align: center;
    padding-top: 50px;
}
.top h2{
    color: white;
    font-size: 40px;
    font-weight: bold;

}

h2{
    text-align: center;
    width: 100%;
    font-size: 25px;
    color:#000;
}
#intro{
    font-size: 20px;
    text-align: justify;
    margin: 10px;
}

.credit{
    text-align: center;
    color: #000;
    border-top: .1rem solid rgba(0,0,0,0.1); 
    font-size: 20px;
    font-style: italic;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top:1.5rem ;
}

.row{
    display:flex;
    flex-wrap: wrap;
}

.row2{
    display:flex;
    flex-wrap: wrap;   
}

.row3{
    display:flex;
    flex-wrap: wrap;
    
}

.column{
    width:100%;
    padding:2%;
    text-align: center;
}

.column2{
    width:100%;
    padding:2%;
    text-align: center;
}

.column3{
    width:100%;
    padding:2%;
    text-align: center;
}


.card{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0.2em rgba(25, 0, 58, 0.1);
    padding:2em 1.5em;
    border-radius:0.6em ;
    color:#000 ;
    cursor: pointer;
    transition: 0.3s;
    background-color:whitesmoke;
    
}
.card .img-box{
    width: 10em;
    height: 10em;
    background-color:darkviolet ;
    padding: 0.2em 0.2em 0.5em 0.2em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}
.card img{
    width: 100%;
    border-radius: 50%;
    height: 9.7em;

}
.card h3{
    font-weight: bold;
}
.card p{
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}
.card:hover{
    background: linear-gradient(rgba(241, 18, 189, 0.903),#e419e4ec);
    color: white;

}
.card:hover .img-box{
    transform: scale(1.2);
}


@media screen and (min-width: 768px ) {
    section{
        padding: 0 2em;
    }
    .column{
        flex: 0 50%;
        max-width: 50%;
    
    }
    .column2{
        flex: 0 50%;
        max-width: 50%;
    
    }
    .column3{
        flex: 0 50%;
        max-width: 50%;
    
    }
    
}



@media screen and (min-width: 992px ) {
    section{
        padding:1em  3em ;
           
    }
    .column{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    
    }

    .column2{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    
    }
    .column3{
        flex: 0 0 33.33%;
        max-width: 33.33%;
    
    }
} 


@media (max-width: 835px)
{

    header{
        align-items: flex-start;
        flex-direction: column ;
    }

    .navbar{
        display: none;

    }

    .bar3{
        display: inline-block;
    }

    .navbar ul{
        position: absolute;
        flex-direction: column;
        height: 24em;
        background: rgba(105, 97, 104, 0.9);
        width: 100%;
        top: 40px;
    }

    .navbar li{
        text-align: center;

    }

    .navbar li a{
        padding: 0.45em 5rem;
        font-size: 20px;
        font-weight: normal;
    }

    .navbar.active{
        display: flex;
        z-index: 200;
    }
   
  #footer .credit{
    font-size: 20px;
  }
  

}

@media (max-width: 786px)
{

    .navbar ul{
        height: 24em;
    }

}
   

@media (max-width: 486px)
{   
    
    .navbar ul{
        height: 24em;
    }


    .navbar li a{
        padding: 0.6em 5rem;
        font-size: 20px;
        font-weight: 550;

    }

    h1{
        font-size: 20px;
    }
    h2{
        font-size: 20px;
    }
    #intro{
        font-size: 15px;
    }

    .credit{
        font-size: 15px;
        font-weight: bold;
    }

}

@media (max-width: 399px)
{
    .navbar li a{
        padding: 0.6em 5rem;
        font-size: 15px;
        font-weight: 550;

    } 
    .credit{
        font-size: 15px;
        font-weight: bold;
    }
    .column {
    width: 100%;
    padding: 20px;
    text-align: center;
    }
    #intro {
    font-size: 18px;
    margin: 20px;
    }
    .top h2 {
    font-size: 25px;
}
.top{
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(105, 97, 104, 0.7)),url(leadus.jpg) no-repeat;
    background-size: cover;
    height:20vh;
}

}

